#gameOverContainer
{
	-fx-max-height: 128px;
	-fx-max-width: 420px;
	max-height: 128px;
	max-width: 420px;
}

#gameOverContainer,
.button,
.combo-box-base,
.combo-box-popup .list-view,
.password-field,
.player-item,
.profile-container,
.slider .thumb,
.text-field
{
	-fx-background-radius: 6;
	-fx-border-radius: 6;
	-fx-border-width: 3px;
	border-radius: 6;
	border-width: 3px;
}

#loginButton,
#signOutButton,
#signUpButton
{
	-fx-pref-width: 128px;
}

.avatar-container,
.progress-bar,
.slider .track
{
	-fx-border-width: 3px;
	border-width: 3px;
}

.button
{
	-fx-pref-width: 108px;
}

.button,
.combo-box .list-cell,
.combo-box-popup .list-cell,
.label,
.password-field,
.text-field
{
	-fx-font-family: "NotoSansM NFM";
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	font-family: "NotoSansM NFM";
	font-size: 16px;
	font-weight: bold;
}

.button,
.combo-box .list-cell,
.combo-box-popup .list-cell,
.password-field,
.text-field
{
	-fx-padding: 8 16;
	padding: 8 16;
}

.button,
.combo-box-base,
.player-item,
.slider
{
	-fx-cursor: hand;
	cursor: hand;
}

.caret-handle
{
	-fx-opacity: 0;
	opacity: 0;
}

.context-menu
{
	-fx-border-width: 3px;
	-fx-padding: 0;
	border-width: 3px;
	padding: 0;
}

.context-menu,
.sidebar-item
{
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	border-radius: 0;
}

.country-cn
{
	-fx-background-position: 90% 12%;
	background-position: 90% 12%;
}

.country-de
{
	-fx-background-position: 60% 16%;
	background-position: 60% 16%;
}

.country-es
{
	-fx-background-position: 60% 20%;
	background-position: 60% 20%;
}

.country-flags-large
{
	-fx-background-size: 432px 824px;
	-fx-max-height: 24px;
	-fx-max-width: 32px;
	-fx-min-height: 24px;
	-fx-min-width: 32px;
	background-size: 432px 824px;
	max-height: 24px;
	max-width: 32px;
	min-height: 24px;
	min-width: 32px;
}

.country-flags-medium
{
	-fx-background-size: 324px 618px;
	-fx-max-height: 18px;
	-fx-max-width: 24px;
	-fx-min-height: 18px;
	-fx-min-width: 24px;
	background-size: 324px 618px;
	max-height: 18px;
	max-width: 24px;
	min-height: 18px;
	min-width: 24px;
}

.country-fr
{
	-fx-background-position: 40% 24%;
	background-position: 40% 24%;
}

.country-it
{
	-fx-background-position: 70% 36%;
	background-position: 70% 36%;
}

.country-jp
{
	-fx-background-position: 0 40%;
	background-position: 0 40%;
}

.country-kr
{
	-fx-background-position: 80% 40%;
	background-position: 80% 40%;
}

.country-pl
{
	-fx-background-position: 70% 60%;
	background-position: 70% 60%;
}

.country-ro
{
	-fx-background-position: 50% 64%;
	background-position: 50% 64%;
}

.country-ru
{
	-fx-background-position: 70% 64%;
	background-position: 70% 64%;
}

.country-ua
{
	-fx-background-position: 90% 76%;
	background-position: 90% 76%;
}

.country-us
{
	-fx-background-position: 0 80%;
	background-position: 0 80%;
}

.h2
{
	-fx-font-size: 24px;
	font-size: 24px;
}

.menu-button,
.settings-help-button
{
	-fx-cursor: hand;
	-fx-font-size: 24px;
	-fx-padding: 6 0;
	-fx-pref-width: 54px;
	cursor: hand;
	font-size: 24px;
	padding: 6 0;
}

.menu-button:hover,
.menu-button:pressed,
.settings-help-button:hover,
.settings-help-button:pressed
{
	-fx-background-radius: 27;
}

.password-field,
.text-field
{
	-fx-pref-width: 240px;
}

.password-field,
.text-field
{
	-fx-cursor: text;
	cursor: text;
}

.player-info-box
{
	-fx-max-height: 80px;
	-fx-max-width: 240px;
	-fx-padding: 12px;
	-fx-translate-y: -16px;
	max-height: 80px;
	max-width: 240px;
	padding: 12px;
}

.player-info-box-left
{
	-fx-translate-x: 16px;
}

.player-info-box-right
{
	-fx-translate-x: -16px;
}

.player-item,
#playerContainer,
#tournamentContainer
{
	-fx-padding: 16;
	padding: 16;
}

.profile-container
{
	-fx-max-width: 320px;
	-fx-padding: 16;
	max-width: 320px;
	padding: 16;
}

.profile-info
{
	-fx-font-size: 13px;
	font-size: 13px;
}

.profile-stat
{
	-fx-font-size: 16px;
	font-size: 16px;
}

.progress-bar
{
	-fx-border-radius: 6;
	-fx-pref-height: 22px;
	-fx-pref-width: 116px;
	border-radius: 6;
}

.progress-bar>.bar
{
	-fx-background-radius: 6;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb
{
	-fx-background-radius: 6;
}

.scroll-pane
{
	-fx-border-radius: 6;
	-fx-border-width: 3px;
	-fx-fit-to-width: true;
	-fx-max-height: 480px;
	-fx-max-width: 480px;
	-fx-min-height: 320px;
	border-radius: 6;
	border-width: 3px;
	max-height: 480px;
	max-width: 480px;
	min-height: 320px;
}

.scroll-pane .viewport
{
	-fx-background-radius: 6;
}

.sidebar
{
	-fx-border-width: 0 3px 0 0;
	border-width: 0 3px 0 0;
}

.sidebar-item
{
	-fx-alignment: center-left;
	-fx-border-width: 0 0 3px 0;
	-fx-pref-width: 160px;
	border-width: 0 0 3px 0;
}

.slider .thumb
{
	-fx-background-radius: 12;
	-fx-border-radius: 12;
	-fx-pref-height: 24px;
	-fx-pref-width: 24px;
	border-radius: 12;
}

.slider .track
{
	-fx-background-radius: 6;
	-fx-border-radius: 6;
	-fx-pref-height: 12px;
	border-radius: 6;
}

.square-button
{
	-fx-pref-height: 42px;
	-fx-pref-width: 42px;
}

.tooltip
{
	-fx-background-radius: 0;
}

.tournament-item-date,
.tournament-item-description
{
	-fx-font-size: 13px;
	font-size: 13px;
}

.tournament-item-name
{
	-fx-font-size: 18px;
	font-size: 18px;
}

.participant-row
{
	-fx-background-color: white;
	-fx-background-radius: 5;
	-fx-padding: 10;
	background-color: white;
	padding: 10;
}

.participant-name
{
	-fx-font-size: 14px;
	-fx-pref-width: 150px;
	font-size: 14px;
}

.success-button
{
	/* l40-green */
	-fx-background-color: rgb(31, 173, 91);
	-fx-cursor: hand;
	-fx-font-size: 14px;
	-fx-text-fill: white;
	background-color: rgb(31, 173, 91);
	cursor: hand;
	font-size: 14px;
}

.leaderboard-rank
{
	/* orange */
	-fx-text-fill: rgb(250, 157, 1);
	-fx-min-width: 50px;
	-fx-font-size: 18px;
	min-width: 50px;
	font-size: 18px;
}

.leaderboard-name
{
	-fx-text-fill: white;
	-fx-min-width: 200px;
	min-width: 200px;
}

.leaderboard-elo
{
	-fx-text-fill: lightgreen;
}

.tournament-button
{
	-fx-cursor: hand;
	-fx-font-size: 14px;
	cursor: hand;
	font-size: 14px;
}

.timer-label
{
	-fx-font-size: 20px;
	-fx-background-color: rgba(0, 0, 0, 0.1);
	-fx-padding: 2 6;
	-fx-background-radius: 4;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 2 6;
}