.root
{
	-fx-background-color: white;
	background-color: white;
}

.button,
.combo-box .list-cell,
.combo-box-popup .list-cell,
.label,
.password-field,
.text-field
{
	-fx-font-family: "Monospaced";
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-fill: black;
	font-family: "Monospaced";
	font-size: 16px;
	font-weight: bold;
}

.h2
{
	-fx-font-size: 24px;
	font-size: 24px;
}

.button,
.combo-box .list-cell,
.combo-box-popup .list-cell,
.password-field,
.text-field
{
	-fx-padding: 8 16;
	padding: 8 16;
}

.button
{
	-fx-pref-width: 108px;
}

.button,
.combo-box-base,
.combo-box-popup .list-view,
.password-field,
.text-field
{
	/* sandybrown */
	-fx-background-color: rgb(232, 171, 111);
	-fx-background-radius: 6;
	-fx-border-color: black;
	-fx-border-radius: 6;
	-fx-border-width: 3px;
	background-color: rgb(232, 171, 111);
	border-color: black;
	border-radius: 6;
	border-width: 3px;
}

.text-field,
.password-field
{
	-fx-background-color: white;
	-fx-pref-width: 240px;
	background-color: white;
}

.button,
.combo-box-base
{
	-fx-cursor: hand;
	cursor: hand;
}

.button:hover,
.combo-box-base:hover,
.combo-box-popup .list-cell:filled:hover,
.password-field:focused,
.text-field:focused
{
	/* navajowhite */
	-fx-background-color: rgb(255, 206, 158);
	background-color: rgb(255, 206, 158);
}

.button:pressed
{
	/* peru */
	-fx-background-color: rgb(209, 139, 71);
	background-color: rgb(209, 139, 71);
}

.settings-help-button
{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-cursor: hand;
	-fx-font-size: 24px;
	-fx-padding: 6 0;
	-fx-pref-width: 54px;
	-fx-text-fill: black;
	background-color: transparent;
	border-color: transparent;
	cursor: hand;
	font-size: 24px;
	padding: 6 0;
}

.settings-help-button:hover,
.settings-help-button:pressed
{
	-fx-background-color: rgba(0, 0, 0, 0.06);
	-fx-background-radius: 27;
	background-color: rgba(0, 0, 0, 0.06);
}

.combo-box .arrow
{
	-fx-background-color: black;
	background-color: black;
}

.combo-box .list-cell
{
	-fx-background-color: transparent;
	background-color: transparent;
}

#errorLabel,
#statusLabel
{
	/* red */
	-fx-text-fill: rgb(237, 53, 36);
}

#loginButton,
#signOutButton,
#signUpButton
{
	-fx-pref-width: 128px;
}