.root
{
	-fx-background-color: white;
	background-color: white;
}

.button,
.combo-box .list-cell,
.combo-box-popup .list-cell,
.label,
.password-field,
.text-field
{
	-fx-font-family: "Monospaced";
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-fill: black;
	font-family: "Monospaced";
	font-size: 16px;
	font-weight: bold;
}

.h2
{
	-fx-font-size: 24px;
	font-size: 24px;
}

.button,
.combo-box .list-cell,
.combo-box-popup .list-cell,
.password-field,
.text-field
{
	-fx-padding: 8 16;
	padding: 8 16;
}

.button
{
	-fx-pref-width: 108px;
}

.button,
.combo-box-base,
.combo-box-popup .list-view,
.password-field,
.profile-container,
.text-field
{
	/* sandybrown */
	-fx-background-color: rgb(232, 171, 111);
	-fx-background-radius: 6;
	-fx-border-color: black;
	-fx-border-radius: 6;
	-fx-border-width: 3px;
	background-color: rgb(232, 171, 111);
	border-color: black;
	border-radius: 6;
	border-width: 3px;
}

.text-field,
.password-field
{
	-fx-background-color: white;
	-fx-pref-width: 240px;
	background-color: white;
}

.button,
.combo-box-base
{
	-fx-cursor: hand;
	cursor: hand;
}

.button:hover,
.combo-box-base:hover,
.combo-box-popup .list-cell:filled:hover,
.menu-item:focused,
.menu-item:hover,
.password-field:focused,
.sidebar-item:hover,
.text-field:focused
{
	/* navajowhite */
	-fx-background-color: rgb(255, 206, 158);
	background-color: rgb(255, 206, 158);
}

.button:pressed,
.menu-item:pressed
{
	/* peru */
	-fx-background-color: rgb(209, 139, 71);
	background-color: rgb(209, 139, 71);
}

.menu-button,
.settings-help-button
{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-cursor: hand;
	-fx-font-size: 24px;
	-fx-padding: 6 0;
	-fx-pref-width: 54px;
	-fx-text-fill: black;
	background-color: transparent;
	border-color: transparent;
	cursor: hand;
	font-size: 24px;
	padding: 6 0;
}

.menu-button:hover,
.menu-button:pressed,
.settings-help-button:hover,
.settings-help-button:pressed
{
	-fx-background-color: rgba(0, 0, 0, 0.06);
	-fx-background-radius: 27;
	background-color: rgba(0, 0, 0, 0.06);
}

.sidebar
{
	-fx-border-color: black;
	-fx-border-width: 0 3px 0 0;
	border-color: black;
	border-width: 0 3px 0 0;
}

.context-menu,
.sidebar-item
{
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-border-color: black;
	-fx-border-radius: 0;
	background-color: white;
	border-color: black;
	border-radius: 0;
}

.context-menu
{
	-fx-border-width: 3px;
	-fx-padding: 0;
	border-width: 3px;
	padding: 0;
}

.sidebar-item
{
	-fx-alignment: center-left;
	-fx-border-width: 0 0 3px 0;
	-fx-pref-width: 160px;
	border-width: 0 0 3px 0;
}

.combo-box .arrow
{
	-fx-background-color: black;
	background-color: black;
}

.combo-box .list-cell
{
	-fx-background-color: transparent;
	background-color: transparent;
}

#errorLabel,
#statusLabel
{
	/* red */
	-fx-text-fill: rgb(237, 53, 36);
}

#loginButton,
#signOutButton,
#signUpButton
{
	-fx-pref-width: 128px;
}

.profile-container
{
	-fx-padding: 16;
	-fx-max-width: 320px;
	padding: 16;
	max-width: 320px;
}

.avatar-container
{
	-fx-border-color: black;
	-fx-border-width: 3px;
	-fx-background-color: white;
	border-color: black;
	border-width: 3px;
	background-color: white;
}

.country-flags-large
{
	-fx-background-image: url("https://www.chess.com/bundles/web/images/sprites/flags-128.png");
	-fx-background-size: 432px 824px;
	-fx-max-height: 24px;
	-fx-max-width: 32px;
	-fx-min-height: 24px;
	-fx-min-width: 32px;
	background-image: url("https://www.chess.com/bundles/web/images/sprites/flags-128.png");
	background-size: 432px 824px;
	max-height: 24px;
	max-width: 32px;
	min-height: 24px;
	min-width: 32px;
}

.profile-stat
{
	-fx-font-size: 16px;
	font-size: 16px;
}

.profile-info
{
	-fx-font-size: 13px;
	font-size: 13px;
}

.country-cn
{
	-fx-background-position: 90% 12%;
	background-position: 90% 12%;
}

.country-de
{
	-fx-background-position: 60% 16%;
	background-position: 60% 16%;
}

.country-es
{
	-fx-background-position: 60% 20%;
	background-position: 60% 20%;
}

.country-fr
{
	-fx-background-position: 40% 24%;
	background-position: 40% 24%;
}

.country-it
{
	-fx-background-position: 70% 36%;
	background-position: 70% 36%;
}

.country-jp
{
	-fx-background-position: 0 40%;
	background-position: 0 40%;
}

.country-kr
{
	-fx-background-position: 80% 40%;
	background-position: 80% 40%;
}

.country-pl
{
	-fx-background-position: 70% 60%;
	background-position: 70% 60%;
}

.country-ro
{
	-fx-background-position: 50% 64%;
	background-position: 50% 64%;
}

.country-ru
{
	-fx-background-position: 70% 64%;
	background-position: 70% 64%;
}

.country-ua
{
	-fx-background-position: 90% 76%;
	background-position: 90% 76%;
}

.country-us
{
	-fx-background-position: 0 80%;
	background-position: 0 80%;
}