.root
{
	-fx-background-color: white;
}

.label,
.button,
.combo-box .list-cell,
.combo-box-popup .list-cell
{
	-fx-font-family: "Monospaced";
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

.h2
{
	-fx-font-size: 24px;
}

.button,
.combo-box .list-cell,
.combo-box-popup .list-cell
{
	-fx-padding: 8 16;
}

.button
{
	-fx-pref-width: 108px;
}

.button,
.combo-box-base,
.combo-box-popup .list-view
{
	/* sandybrown */
	-fx-background-color: rgb(232, 171, 111);
	-fx-background-radius: 6;
	-fx-border-color: black;
	-fx-border-radius: 6;
	-fx-border-width: 3px;
}

.button,
.combo-box-base
{
	-fx-cursor: hand;
}

.button:hover,
.combo-box-base:hover
{
	/* navajowhite */
	-fx-background-color: rgb(255, 206, 158);
}

.button:pressed
{
	/* peru */
	-fx-background-color: rgb(209, 139, 71);
}

.settings-help-button
{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-cursor: hand;
	-fx-font-size: 24px;
	-fx-padding: 6 0;
	-fx-pref-width: 54px;
	-fx-text-fill: black;
}

.settings-help-button:hover,
.settings-help-button:pressed
{
	-fx-background-color: rgba(0, 0, 0, 0.06);
	-fx-background-radius: 27;
}

.combo-box .arrow
{
	-fx-background-color: black;
}

.combo-box .list-cell
{
	-fx-background-color: transparent;
}

.combo-box-popup .list-cell:filled:hover
{
	/* navajowhite */
	-fx-background-color: rgb(255, 206, 158);
}